---
import { Footer } from "../components/Footer";
import { Navbar } from "../components/Navbar";
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
const { user, permissions } = Astro.locals;
console.log("permissions layout", permissions);
console.log('user is ',user)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Little Loopies</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <ClientRouter />
    <Navbar client:load  user={user}/>
    <slot />
    <Footer client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  * {
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    /* margin: 0;
  padding: 0; */
  }
</style>
